<div class = "col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading"> Headers </div>
    <div class="panel-body">

        <%= simple_form_for @test_case do |f| %>
          <%= f.simple_fields_for :headers do |ff|%>
            <%= ff.input :hawkular_tenant,  input_html: { class: 'form-control' }%>
            <%= ff.input :content_type, collection:['application/json'], selected: [ "application/json" ], input_html: { class: 'form-control' }  %>
            <%= ff.input :authorization, input_html: { class: 'form-control' }  %>

          <% end %>
          <br>

          <%= f.simple_fields_for :parameters do |ff|%>
            <%= ff.input :name, input_html: { class: 'form-control' } %>
            <%=  ff.input :http_method, collection:['GET', 'POST', 'DELETE', 'PUT'], selected: [ 'GET' ] , input_html: { class: 'form-control' }  %>
            <%=  ff.input :body, as: :text, input_html: { class: 'form-control' }, :required => false   %>
            <%= ff.input :hawkular_environment, input_html: { class: 'form-control' } %>
            <%= ff.input :hawkular_endpoint, input_html: { class: 'form-control' } %>
             <%= f.label :ssl %>
            <%= ff.collection_radio_buttons :ssl, [[true, 'Yes'] ,[false, 'No']], :first, :last  do |b|
              b.label { b.radio_button + b.text }
            end%>
              <br>
             <%= f.button :submit , class:" btn btn-primary"%>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
