<div class = "col-lg-12">
  <div class="panel panel-default" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTestCase" aria-expanded="true" class=""><%= title %></a>
      </h4>
      </div>
      <div id="collapseTestCase" class="panel-collapse collapse in" aria-expanded="true">
    <div class="panel-body">

        <%= simple_form_for @execution, url: test_case_executions_url do |f| %>
          <%= f.input :expected_response_code,  input_html: { class: 'form-control' }, disabled: disabled, required: true%>
          <% if params[:action] == "show"%>
            <%= f.input :actual_response_code,  input_html: { class: 'form-control' }, disabled: disabled, required: true%>
            <%= f.input :time_of_response,  input_html: { class: 'form-control' }, disabled: disabled, required: true, label: "Time of Response in Milliseconds"%>
          <%= f.label :body %>
          <% if  @execution.actual_response_body.blank? %>
              <pre>
                <code class="json hljs">
                    <%= @execution.actual_response_body%>
                  </code>
          </pre>
          <% else %>
              <pre>
                <code class="json hljs">
                    <%= JSON.pretty_generate(JSON.parse(@execution.actual_response_body))%>
                  </code>
              </pre>
          <% end %>
          <% end %>
          <br>
          <% unless  disabled %>
              <%= button_tag(type: 'submit', class: "btn btn-success btn-block") do %>
                  <i class="fa fa-play"></i> Run Execution
              <% end %>
          <% end %>
          <%= link_to test_case_executions_path, class:" btn btn-info btn-block"  do %>
              <i class="fa fa-arrow-left"></i> Back
          <% end %>
        <% end %>



      </div>
    </div>
  </div>
