<%= render partial: 'title', locals: { title: "#{@test_case.name} - Executions", bootstrap_class: 'col-lg-12' } %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Executions
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered table-hover table-striped">

              <thead>
                <tr>
                  <th>Datetime</th>
                  <th>Environment</th>
                  <th>Expected Response Code</th>
                  <th>Actual Response Code</th>
                  <th>Sucess</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @executions.each do |execution| %>
                <tr>
                  <td><%= execution.created_at %></td>
                  <td><%= render partial: 'layouts/partials/label-environment.html.erb' , locals: {test_case: @test_case} %></td>
                  <td><%= execution.expected_response_code %></td>
                  <td><%= execution.actual_response_code %></td>
                  <td><%= render partial: 'layouts/partials/label-execution.html.erb' , locals: {execution: execution} %> </td>
                  <td>
                      <%= link_to test_case_execution_path(execution.test_case.id, execution.id), class: "btn btn-danger btn-circle", method: :delete, data: { confirm: 'Are you sure?' } , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Delete Execution' do %>
                          <i class="fa fa-trash-o"></i>
                      <% end %>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
           </div>
        </div>
      </div>
     </div>
  </div>
